######################
# Folders
######################

build/

######################
# Java
######################

*.ear
*.class
*.properties
*.mf

######################
# Eclipse
######################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

