.agendaColunaAcoes {
	width: 110px;
	text-align: center;
}

.agendaColunaData {
	text-align: center;
	width: 80px;
}

.agendaColunaHora {
	text-align: center;
	width: 70px;
}

.agendaColunaFuncionario {
	
}

.agendaColunaSitMarcacaoAgenda {
	text-align: center;
	width: 90px;	
}

.agendaColuna50porCento {
	width: 50%;	
	padding: 0 !important;
}

.agendaFsProfissionaisDisponiveis {
	width: 97%;
	min-height: 130px;
	padding: 0px;
}

.agendaFsOpcoes {
	width: 97%;
	min-height: 130px;
	padding: 0px;
}

.agendaGridAgendamentos tr:hover {
    background: #C6E2FF;
}

.agendaGridAnaliseEmissaoDocumentos tr:hover {
    background: #C6E2FF;
}

.agendaNegrito {
	font-weight: bold;
}

.agendaObservacoes {
   height: 80px;
    width: 100%;
}

.agendaLinksVisualizarEditar {
	float:left;
	padding-right:5px;
}

.agendaRealizaProcedimento {
	width: 30px;	
}

.agendaRealizaProcedimento_true {
    border: 1px solid green;
    border-radius: 10px;
    display: block;
    height: 19px;
    margin-left: 5px;
    width: 19px;	
}

.agendaRealizaProcedimentoSelecao_true {
    background-color: red;
    border-radius: 10px;
    display: block;
    height: 20px;
    margin-left: 5px;
    width: 20px;	
}

.agendaGuiaSituacao_CA {
	color: red;
}

.agendaGuiaSituacao_IM {
	color: blue;
}

.agendaTachado_false {
	text-decoration: line-through;	
}