.agendaColunaAcoes {
	width: 110px;
	text-align: center;
}

.agendaColunaData {
	text-align: center;
	width: 80px;
}

.agendaColunaHora {
	text-align: center;
	width: 70px;
}

.agendaColunaFuncionario {
	
}

.agendaColunaSitMarcacaoAgenda {
	text-align: center;
	width: 90px;	
}

.agendaColuna50porCento {
	width: 50%;	
	padding: 0 !important;
}

.agendaColuna33porCento {
	width: 33%;	
	padding: 0 !important;
}

.agendaContador {
	font-size: 16px !important;	
}

.agendaFsProfissionaisDisponiveis {
	width: 94%;
	min-height: 130px;
	padding: 0px;
}

.agendaFsOpcoes {
	width: 94%;
	min-height: 130px;
	padding: 0px;
}

.agendaFsAjuda {
	width: 94%;
	min-height: 130px;
	padding: 0px;
}
.agendaGridAgendamentos tr:hover {
    background: #C6E2FF;
}

.agendaGridAnaliseEmissaoDocumentos tr:hover {
    background: #C6E2FF;
}

.agendaNegrito {
	font-weight: bold;
}

.agendaObservacoes {
   height: 80px;
    width: 100%;
}

.agendaLinksVisualizarEditar {
	float:left;
	padding-right:5px;
}

.agendaRealizaProcedimento {
	width: 30px;	
}

.agendaRealizaProcedimento_true {
    border: 1px solid green;
    border-radius: 10px;
    display: block;
    height: 10px;
    margin-left: 8px;
    width: 10px;	
}

.agendaRealizaProcedimentoSelecao_true {
    background-color: red;
    border-radius: 13px;
    display: block;
    height: 13px;
    margin-left: 8px;
    width: 13px;	
}

.agendaGuiaSituacao_CA {
	color: red;
}

.agendaGuiaSituacao_IM {
	color: blue;
}

.agendaTachado_false {
	text-decoration: line-through;	
}

.agendaMedicaColunaAcoes {
	width: 130px;
	text-align: center;
}

.agendaTextoAjuda {
	background: url("#{resource['img/agenda/info.png']}") no-repeat scroll left 0 transparent;
	width: 100%;
	height: 16px;
	display: block;
	padding-left: 23px;	
}

.agendaTextoAlerta {
	background: url("#{resource['img/agenda/alert.png']}") no-repeat scroll left 0 transparent;
	width: 100%;
	height: 16px;
	display: block;
	padding-left: 23px;
}