.ui-datatable .colunaCentralizada {
	text-align: center;
	width: 100%;
}

.ui-datatable .colunaAcoes {
	text-align: center;
	width: 160px;
}

.coluna1 {  
	width: 50px;
	text-align: center;  
}  
.coluna2 {  
	width: 300px;  
} 
.coluna3 {
	width: 300px;
} 
.coluna4 {
	width: 50px;
	text-align: center;
}
.coluna5 {
	width: 100px;
}