.ui-datatable tr:hover {
    background: #C6E2FF;
}

.ui-datatable .colunaCentralizada {
	text-align: center;
}

.ui-datatable .colunaAcoes {
	text-align: center;
	width: 110px;
}

.ui-datatable .colunaCom3Acoes {
	text-align: center;
	width: 55px;
}

.ui-datatable .colunaData {
	text-align: center;
	width: 110px;
}

.ui-datatable .colunaCheck {
	width: 50px;
	text-align: center;
}

.ui-datatable .ui-row-toggler {
	float: left;
}

.dataTableLinks {
  float: left;
  width: 17px;
  height: 18px;
  margin: 5px 10px;	
}

.coluna1 {  
	width: 50px;
	text-align: center;  
}  
.coluna2 {  
	width: 300px;  
} 
.coluna3 {
	width: 300px;
} 
.coluna4 {
	width: 50px;
	text-align: center;
}
.coluna5 {
	width: 100px;
}

.coluna50porCento {
	width: 50%;	
	padding: 0 !important;
}

.sem_borda tbody tr td {
	border: none !important;
}