.ui-datatable .colunaCentralizada {
	text-align: center;
}

.ui-datatable .colunaAcoes {
	text-align: center;
	width: 110px;
}

.ui-datatable .colunaData {
	text-align: center;
	width: 110px;
}

.ui-datatable .colunaCheck {
	width: 50px;
	text-align: center;
}

.ui-datatable .ui-row-toggler {
	float: left;
}

.coluna1 {  
	width: 50px;
	text-align: center;  
}  
.coluna2 {  
	width: 300px;  
} 
.coluna3 {
	width: 300px;
} 
.coluna4 {
	width: 50px;
	text-align: center;
}
.coluna5 {
	width: 100px;
}

.coluna50porCento {
	width: 50%;	
	padding: 0 !important;
}