input.cnpj {
	width: 200px;
}

input.cpf {
	width: 154px;
}

input.hasDatepicker {
	width: 80px;
}

input.nome50 {
	width: 380px;	
}

input.nome100 {
	width: 480px;	
}

input.cep {	
	max-width: 100px;
}

