span.ano input {
	width: 50px !important;
}

input.cep {	
	max-width: 100px;
}

input.cnpj {
	width: 200px;
}

input.cpf {
	width: 154px;
}

input.email {
	width: 480px;	
}

input.hasDatepicker {
	width: 85px;
}

input.hora {
	width: 40px !important;
}

span.idade input {
	width: 40px !important;
}

span.intervaloMinutos input {
	width: 35px !important;
}

input.nome5, span.nome5 input.ui-spinner-input, span.nome5 input.pe-inputNumber {
	width: 64px !important;	
}

input.nome10, span.nome10 input.ui-spinner-input {
	width: 84px !important;	
}

input.nome20, span.nome20 input.ui-autocomplete-input {
	width: 168px !important;	
}

input.nome30, span.nome30 input.ui-autocomplete-input {
	width: 252px !important;	
}

input.nome50, span.nome50 input.ui-autocomplete-input {
	width: 380px !important;	
}

div.nome50 select {
	width: 375px !important;	
}

input.nome100, span.nome100 input.ui-autocomplete-input {
	width: 480px !important;	
}

span.retornoMeses input {
	width: 40px !important;
}

input.telefone {
	width: 110px !important;	
}

textarea.tam100 {
	width: 480px !important;
}

.exportpdf {  
    background-image: url("#{resource['img/icon/pdf_icon.png']}") !important; 
   	width: 16px;height: 16px;  
    float:left;  
    margin-right: 8px; 
}

.negrito {
	font-weight: bold;
} 

.observacoes {
   height: 80px;
    width: 100%;
}