input.cep {	
	max-width: 100px;
}

input.cnpj {
	width: 200px;
}

input.cpf {
	width: 154px;
}

input.email {
	width: 480px;	
}

input.hasDatepicker {
	width: 80px;
}

input.nome10 {
	width: 84px !important;	
}

input.nome50, span.nome50 input.ui-autocomplete-input {
	width: 380px !important;	
}

input.nome100, span.nome100 input.ui-autocomplete-input {
	width: 480px !important;	
}

input.telefone {
	width: 110px !important;	
}

