body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 0px;
	margin: 10px;
	background: url("#{resource['img/layout/background.jpg']}") repeat scroll right 0 transparent;
}

#container {

}

#cabecalho {
    background-color: powderblue;
    display: block;
    min-height: 50px;	
}

#content {

}
#menu {
    display: block;
    min-height: 50px;	
}
.coluna1 {  
        width: 50px;
        text-align: center;  
}  
.coluna2 {  
        width: 300px;  
} 
.coluna3 {
	 	width: 300px;
} 
.coluna4 {
	 	width: 50px;
	 	text-align: center;
}
.coluna5 {
	 	width: 100px;
}
