body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 0px;
	margin: 10px;
	background: url("#{resource['img/layout/background.jpg']}") repeat scroll right 0 transparent;
}

#container {

}

#cabecalho {
    background-color: powderblue;
    display: block;
    min-height: 50px;	
}

#content {
	margin-top:0px;
}

#menu {
    display: block;
    min-height: 38px;	
    margin-bottom: 0px;
}